body {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
body.hidden {
    opacity: 0;
  }
.navbar-nav {
    flex: 1;
    justify-content: center;
  }
  
  .rotate-45 {
    display: inline-block;
    transform: rotate(-40deg);
  }
  
  .circular-border {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid purple;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background: white;
  }
  
  .circular-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .social:hover {
    color: rgb(102, 0, 255);
    transition: all 0.5s;
  }
  .icon-container {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-container i {
    color: gray;
    font-size: 2rem; 
  }

  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .contact-info p {
    margin-left: 10px;
    font-size: 1.5rem; 
  }  
  